<%- include("header") -%>
<h2 style="text-align: center;">This todo list is created by Rehan Rawat.</h2>
<p style="text-align: center;">for more information contact @reh100@gmail.com</p>
<%- include("footer") -%>